
.footer .section-wrapper{
    display:grid;
    justify-content: space-between;
    grid-auto-flow: column;
    padding-bottom:5rem;
    margin-top:5rem;
}

.footer .socials {
    display: grid;
    grid-auto-flow: column;
    justify-content: space-between;
    width:24rem;
    object-fit: contain;
}

/* .footer .social-img{
    width:1rem;
} */
.copyright{
    font-size:2rem;
    text-align: center;
    color:white;
}

@media(max-width:750px){
    .footer .section-wrapper{
        display:flex;
        flex-direction: column;
        justify-content: center;
        width:100%;
    }

}