.footer{
    padding:1vw 9vw;
}

.footer .section-wrapper{
    display:grid;
    justify-content: space-between;
    grid-auto-flow: column;
    padding-bottom:3rem;
    margin-top:3rem;
}

.footer .socials {
    display: grid;
    grid-auto-flow: column;
    justify-content: space-between;
    width:24rem;
    object-fit: contain;
}

.copyright{
    font-size:2rem;
    text-align: right;
    color:white;
}

@media(max-width:750px){
    .footer .section-wrapper{
        display:flex;
        flex-direction: column;
        justify-content: center;
        width:100%;
    }

}